.navbar {
  position: fixed;
  left: 36px;
  top: 36px;
  bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-navbar);
  padding: 35px;
  background-color: var(--color-primary);
  border-radius: 20px;

  &__logo {
    margin-bottom: 60px;
    color: var(--color-accent);
  }
  
  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }
  
  &__item {
    padding: 15px;
    color: var(--color-secondary);
    &_active {
      color: var(--color-light);
  
    }
    &:hover {
      color: var(--color-accent);
    }
    &:active {
      svg *[fill] {
        fill: var(--color-light);
      }
    }
  }
  
  &__avatar {
    margin-top: auto;
    width: 40px;
    height: 40px;
  
    img {
      width: 100%;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }
  }

}

