@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import './reset.css';


:root {
  font-family: "Outfit", sans-serif;

  /* colors */
  --color-bg: #10141e;
  --color-accent: #fc4747;
  --color-primary: #161d2f;
  --color-secondary: #5a698f;
  --color-light: #ffffff;

  /* typography */

  --font-heading-l: 32px;
  --font-heading-m: 24px;
  --font-heading-s: 24px;
  --font-heading-xs: 18px;
  --font-body-m: 15px;
  --font-body-s: 13px;

  --font-weight-heading-l: 300;
  --font-weight-heading-m: 300;
  --font-weight-heading-s: 500;
  --font-weight-heading-xs: 500;
  --font-weight-body-m: 300;
  --font-weight-body-s: 300;


  /* width & heights */
  --width-navbar: 96px;
  --padding-body: 36px;

  --height-navbar: 72px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: var(--padding-body);
  padding-right: 0;
  background-color: var(--color-bg);
  color: var(--color-light);
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
}
